---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

h3 { margin-bottom: 5px; color: #002699; font-weight: bold;}
hr { 
  margin-bottom: 10px; 
  border: 1px solid #f2f2f2;
}